node_modules
dist
.next
.expo
.turbo
coverage
*.log
.env
.env.*
!.env.example
!.env.*.example
.DS_Store
*.tsbuildinfo
apps/mobile/.expo
apps/mobile/dist
apps/api/uploads
.vercel
.idea
.vscode/*
!.vscode/extensions.json
